<!DOCTYPE html>

<title>New DailyRecompense</title>

{% block body %}
    <h1>Create new DailyRecompense</h1>

    {{ include('daily_recompense/_form.html.twig') }}

    <a href="{{ path('app_daily_recompense_index') }}">back to list</a>
{% endblock %}
