<form method="post" action="{{ path('front_app_event_delete', {'id': event.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ event.id) }}">
    <div class="flex items-center space-x-1.5 rounded-lg bg-red-500 px-4 py-1.5 text-white duration-100 hover:bg-red-600">

        <span class="fa fa-trash"></span>

        <button class="text-sm">Supprimer</button>
    </div>
</form>
