{% extends 'base_front.html.twig' %}
{% form_theme form 'tailwind_2_layout.html.twig' %}

{% block title %}Betting group{% endblock %}



{% block body %}

    <div class="flex flex-col bg-white rounded-xl w-3/4 items-center p-3">
        <h1>Create new Event</h1>
        {{ include('event/_form.html.twig') }}
    </div>


{% endblock %}
