{% extends 'base_home.html.twig' %}

{% block title %}Forgot Password!{% endblock %}

{% block body %}
<form class="h-screen" method="post">
  <img src="{{ asset('build/images/logo-betthings.png') }}" alt="logo" class="logo" />
    <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
     <div class="relative z-0">
        <input type="text" name="email" id="floating_standard" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" autocomplete="email" placeholder=" " required >
        <label for="floating_standard" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email</label>
    </div>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
     <button class="btn" type="submit">
        Envoyer
    </button>
    <div class="row">
    <svg width="27" height="22" viewBox="0 0 27 22" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 7.5L11.25 1.00481L11.25 13.9952L0 7.5Z" fill="black"/>
    <path d="M9 5C9 5 14 5 17 5.5C18.2922 5.71537 18.597 5.6315 20 6.5C21.6602 7.52777 22.2802 7.97526 23.5 9.5C25.5 12 26.3304 14.0307 26.5 17C26.5898 18.5717 26 21.5 26 21.5C26 21.5 25.5653 19.2597 25 18C24.4881 16.8593 24.1935 16.0403 23.5 15C22.5 13.5 22 13 20 11.5C18.1984 10.1488 18.1562 10.5 17 10C14.1324 8.75997 9 10 9 10V5Z" fill="black"/>
    </svg>
        <a href="{{ path('app_login') }}" class="text-blue-600">Retour</a>
    </div>
</form>
{% endblock %}
