<!DOCTYPE html>

<title>New GroupRequest</title>

{% block body %}
    <h1>Create new GroupRequest</h1>

    {{ include('group_request/_form.html.twig') }}

    <a href="{{ path('app_group_request_index') }}">back to list</a>
{% endblock %}
