{% form_theme searchForm 'tailwind_2_layout.html.twig'  %}
{{ form_start(searchForm) }}
    {{ form_row(searchForm.name)}}

<button class="mt-auto text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 m-0 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">{{ button_label|default('Search') }}</button>
{{ form_end(searchForm) }}
