{% extends 'base_front.html.twig' %}

{% block title %}Betting group{% endblock %}


{% block body %}
        <h1>Créer un groupe</h1>

        {{ include('betting_group/_form.html.twig') }}

        <a href="{{ path('front_app_betting_group_by_user') }}">Voir mes groupes</a>

{% endblock %}
