{% extends 'base_front.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    Page d'accueil
    <a href="{{ path('front_app_betting_group_new') }}">Créer un groupe</a>
    <a href="{{ path('front_app_event_new') }}">Ajouter un paris public</a>
    <a href="{{ path('front_app_event_index') }}">Liste des paris publics</a>
{% endblock %}
