{% extends 'base_home.html.twig' %}

{% block title %}Log in!{% endblock %}


{% block body %}

    <div class="landing-page">
    <header>
    <div class="img-logo">
      <a href="{{ path('front_default_index') }}"><img src="{{ asset('build/images/logo-betthings.png') }}" alt=""></a>
    </div>
            <nav>
            <ul>
                <li><a href="{{ path('app_login') }}">Connexion</a></li>
                <li><a href="/a_propos">À propos</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/mention">Mentions légales</a></li>
                <li><a href="/reglement">Réglement</a></li>
            </nav>
        </header>
        <main>
        <div class="container" style="flex-direction: column;">
            <h1>Contactez-nous</h1>
            <p>
                Vous pouvez nous contacter sur notre email : bet.anythings@gmail.com
            </p>
        </div>
        </main>

    </div>
    <style>
        .link{
            text-decoration: none;
            color: #090AE1;
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 20px;
            margin: 0.5rem 0;
        }
    </style>
{% endblock %}
