$black: #0e0202;
$white: #ffffff;
$mainBlue: #9d91ff;
$black: #0e0202;
$white: #ffffff;
$primary: #090AE1;
$gray: #F5F5F5;

@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'navbar.scss';
@import 'sidebar.scss';
@import 'group.scss';
@import "form.scss";
@import "components/form_bet.scss";
@import "components/event_card.scss";
@import "components/bets.scss";
@import "back-admin.scss";

@import "components/alert";

@import 'login.scss';
@import 'typography.scss';
@import 'landing.scss';

@font-face {
  font-family: 'Montserrat';
  src: url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  font-style: normal;
}

* {
    padding: 0;
    margin: 0;
}


.custom-table-render {
    a {

        color: $black;
    }

    .inline-block {
        display: inline-block;
        padding: 10px;

        > div {
            border: 0;
        }
    }
}
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F5F5F5;
    color: $black;
  height: 100vh;

}
.login {
    footer {
        margin-top: 5rem;
        padding: 1.5rem 2rem;
    }

}


table th {
    color: $white;
    background-color: $mainBlue;
}
table tr td{

    background-color: $white !important;
}

table th, table td {
    max-width: 10rem;
    text-overflow: ellipsis;
    overflow: hidden;
}

.error {
    border-color: #cc0000;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    max-width: 100%;
}
.content{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 1rem;
    overflow: hidden;
    min-height: 70vh;


}

.errormsg{
    margin-top: 0.5em;
    color: #cc0000;
    font-size: 12px;
}

// footer ul{
//     list-style: none;
//     display: flex;
//     flex-direction: row;
//     padding: 0;
//     margin: 0;
// }

footer ul li a{
    text-decoration: none;
    margin: 0 1rem 0 0;
    color: $white;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.5s;
}

// footer ul li a:hover{
//     color: $primary;
//     transition: 0.5s;
// }

