@tailwind base;
@tailwind components;
@tailwind utilities;

$black: #0e0202;
$white: #ffffff;
body {
    background-color: $white;
    color: $black;
    height: 100vh;
}

// text in input color
input {
    color: $black;
}
