$primary: #090AE1;
$black: #0e0202;
$white: #ffffff;
$gray: #F5F5F5;

@font-face {
    font-family: 'Montserrat';
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    font-style: normal;
}

form {
    padding-top: 5rem;
    // background-color: $white;
    width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

form img {
    width: 8rem;
    height: 8rem;
    border-radius: 64px;
    margin: 0 auto;
}

form h1{
    text-align: center;
    margin: 1rem 0;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    color: $primary;
}

form input{
    border-bottom: 1px  solid $black;
    box-sizing: border-box;
    height: 2rem;
    background-color: transparent;
    padding: 0 1rem;
    margin: 1rem 0;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: $black;
}

form label[for="remember_me"]{
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: $black;
    margin: 1rem 0;
}

form input[type="checkbox"]{
    margin: 0 .5rem 0 0;
    width: 15px;
    height: 15px;
}

.row {
    margin: 0.5 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

button[type="submit"]{
    width: 100%;
    background-color: $primary;
    border: none;
    color: $white;
    padding: .5rem 1rem;
    margin: 1rem auto;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 30px;
}

a {
    text-decoration: none;
    color: $primary;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    margin: .5rem 0;
}

form p{
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
}

svg{
    margin: 0 .2rem;
}

